nav{
    background-color: lightsalmon !important;
}

.col-sm img{
    width: 100%;
    height: auto;
    max-width: 100%;
}

.sign-up {
    max-width: 30rem;
    text-align: center;
    margin: 0 auto; 
    min-height: 84vh;
}
.sign-up h1 {
    font-weight: 500;
    color: blue;
    justify-content: center;
    align-items: center;
}

 .login {
    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
    min-height: 84vh;
    padding-top: 50px;
}

.hero-container {
    background-image: url("https://cdn.pixabay.com/photo/2018/02/23/19/23/smoothies-3176371_960_720.jpg");
    min-height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero-section {
    max-width: 30rem;
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

}

