nav {
    background-color: lightsalmon !important;
}

.col-sm img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.signup-page {
    background-image: url("https://cdn.pixabay.com/photo/2018/09/23/09/31/smoothie-3697014_1280.jpg");
}

.sign-up {
    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
    min-height: 84vh;
    background-color: rgba(240, 248, 255, 0.5);
}

.sign-up h1 {
    font-weight: 500;
    color: blue;
    justify-content: center;
    align-items: center;
}

.login-page {
    background-image: url("https://cdn.pixabay.com/photo/2018/09/23/09/31/smoothie-3697014_1280.jpg");
}

.login {
    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
    min-height: 84vh;
    padding-top: 50px;
    background-color: rgba(240, 248, 255, 0.5);
}

.hero-container {
    background-image: url("https://cdn.pixabay.com/photo/2018/02/23/19/23/smoothies-3176371_960_720.jpg");
    min-height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-section {
    max-width: 30rem;
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

}

.dashboard {
    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
    min-height: 84vh;
    background-color: rgba(240, 248, 255, 0.5);
}

.dashboard-page {
    background-image: url("https://cdn.pixabay.com/photo/2018/09/23/09/31/smoothie-3697014_1280.jpg");


}

#recipes {
    padding: 50px;
}

.recipe {
    border: 1px solid lightblue;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.recipe img{
    width: 40%; 
    /* flex-grow: 2; */
}

.recipe-details {
    flex-grow: 2;
}

footer {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;

}

footer p {
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 22px;
}
