nav{
    background-color: lightsalmon !important;
}

.col-sm img{
    width: 100%;
    height: auto;
    max-width: 100%;
}

.sign-up {
    max-width: 30rem;
    text-align: center;
    margin: 0 auto; 
}
.sign-up h1 {
    font-weight: 500;
    color: blue;
    justify-content: center;
    align-items: center;
}

 .login {
    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
    min-height: 84vh;
    padding-top: 50px;
}