
<!DOCTYPE html>

<html>

 

<head>
    <script>
        let userid = {{user['id']}}
        let admin = {{user['admin']}}
    </script>
    <meta charset='utf-8'>

    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <title>Fruit bowl - admin</title>

    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen'

        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel='stylesheet' type='text/css' media='screen' href='{{url_for('static', filename='main.css')}}'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
 </head>

 

<body>

 

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="#">Fruitbowl</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"

            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

 

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">

                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>

                </li>

                <li class="nav-item">

                    <a class="nav-link" href="recipes.html">Recipes</a>

                </li>

                <li class="nav-item">

                    <a class="nav-link" href="logout.html">Log out</a>

                </li>

               

            </ul>

 

        </div>

    </nav>

 

            <div class="col-sm">

            <h1>Dashboard</h1>
            <h2>Recipes</h2>  
            <div id="recipes"></div>
            <hr>
            <div id="addRecipe">
                <h2>Add Recipe</h2>
                <form action="addrecipe" method="post">
                    <label for="">Title</label><br>
                    <input type="text" name="title" id="title"><br>
                    <label for="">Description</label><br>
                    <textarea name="description"  id="description"></textarea><br>
                    <label for="">Image URL</label><br>
                    <input type="text" name="imageURL" id="imageURL"><br>
                    <button >Add</button>  
                </form> 
            </div>  
        

    
            </div>

        </div>

       

    </div>

 

    <footer class="bg-light text-center text-lg-start">

        <!-- Copyright -->

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">

            © 2023 Copyright:Fruitbowl

 

        </div>

        <!-- Copyright -->

    </footer>
    <script>
        jQuery.ajax({
            'async': false,
            'global': false,
            'url': 'recipes.json',
            'dataType': "json",
            'success': function (recipes) {
                //recipes = JSON.stringify(recipes)
                //console.log(recipes)
                let output = ``
                recipes.forEach(recipe => {
                    
                    if(admin || recipe['userid']==userid){
                    output +=`<div class='recipe'>
                        <h4>${recipe['title']}</h4>
                        <button onclick="deleteRecipe(${recipe['id']})">delete</button>
                        <a href="edit-recipe.html?id=${recipe['id']}">edit</a>
                        </div>`
                    }
                });

                $('#recipes').html(output)
            }
        });
        function deleteRecipe(id){
            $.ajax({
                url: `/deleteRecipe.html?id=${id}`,
                type: 'GET',
                dataType: 'json' // added data type
                
            });
            window.location.reload()
        }
        function editRecipe(id){
            alert(`Loading the Recipe #${id} info`)
        }
        
 
    </script>

    
</body>

 

</html>