{% extends 'base.html' %}

{% block content %}


<div class="dashboard-page">
<div class="dashboard">
    <div class="col-sm">
        <h1>Dashboard</h1>
        <h2>Welcome {{ user.firstname }}</h2>

        <h2>Recipes</h2>
        <div id="recipes"></div>
        <hr>
        <div id="addRecipe">
            <h2>Add Recipe</h2>
            <form action="addrecipe" method="post">
                <label for="">Title</label><br>
                <input type="text" name="title" id="title"><br>
                <label for="">Description</label><br>
                <textarea name="description" id="description"></textarea><br>
                <label for="">Ingredients (comma separated)</label><br>
                <textarea name="ingredients" id="ingredients"></textarea><br>
                <label for="">Method (comma separated)</label><br>
                <textarea name="method" id="method"></textarea><br>
                <label for="">Image URL</label><br>
                <input type="text" name="imageURL" id="imageURL"><br>
                <button>Add</button>
            </form>
        </div>



    </div>
</div>
</div>

{% endblock %}


    <script>
        jQuery.ajax({
            'async': false,
            'global': false,
            'url': 'recipes.json',
            'dataType': "json",
            'success': function (recipes) {
                //recipes = JSON.stringify(recipes)
                //console.log(recipes)
                let output = ``
                recipes.forEach(recipe => {

                    if (admin || recipe['userid'] == userid) {
                        output += `<div class='recipe'>
                        <h4>${recipe['title']}</h4>
                        <button onclick="deleteRecipe(${recipe['id']})">delete</button>
                        <a href="edit-recipe.html?id=${recipe['id']}">edit</a>
                        </div>`
                    }
                });

                $('#recipes').html(output)
            }
        });
        function deleteRecipe(id) {
            $.ajax({
                url: `/deleteRecipe.html?id=${id}`,
                type: 'GET',
                dataType: 'json' // added data type

            });
            window.location.reload()
        }
        function editRecipe(id) {
            alert(`Loading the Recipe #${id} info`)
        }


    </script>

