<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Fruit bowl</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen'
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/main.css'>
    <script src='assets/js/main.js'></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg" style="background-color: forestgreen;">
        <a class="navbar-brand" href="#">Fruitbowl</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">    
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="recipes.html">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signup.html">Sign up</a>
                    </li>
                </ul> 
            </div>
                

        </div>
    </nav>


            <div class="col-sm">
                <h1>Fruitbowl</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et tempor risus, sed iaculis ante. Nunc
                aliquet nulla a orci rutrum finibus. Donec ac diam et nulla bibendum pellentesque sed sit amet velit.
                Sed iaculis imperdiet lorem, pellentesque interdum felis tincidunt quis. Donec gravida tempor massa, at
                convallis massa bibendum cursus. Maecenas a purus vel lorem aliquet fermentum. Etiam ac augue a velit
                consequat blandit. Morbi rhoncus varius tempor.</p>

                <p> nec dolor in nunc dictum aliquet. Pellentesque lobortis euismod aliquam. Mauris vitae sapien
                arcu. Maecenas tellus ligula, venenatis at nisi nec, ultrices congue justo. Praesent a ultricies sem.
                Donec quis risus condimentum, facilisis lectus eget, lobortis urna. Praesent ut interdum massa. Maecenas
                ac turpis ante.
                </p>
            </div>
        </div>
        <div class="row">

            <div class="col-sm">
                <img src="https://cdn.pixabay.com/photo/2018/02/23/19/23/smoothies-3176371_960_720.jpg" class="img-fluid" alt="Glass smoothie">
            </div>
            <div class="col-sm">
                <img src="https://cdn.pixabay.com/photo/2018/02/23/19/23/smoothies-3176371_960_720.jpg"class="img-fluid" alt="Glass smoothie">
            </div>
        </div>
    </div>
    

    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:Fruitbowl:James cutmore

        </div>
        <!-- Copyright -->
    </footer>
</body>

</html>