{% extends 'base.html' %}

{% block content %}
            <div class="col-sm">
  
            <div id="recipes"></div>

                {% for recipe in data.recipes %}
                <div class='recipe'>
                    <div class="recipe-details">
                        <h2>{{recipe.title}}</h2>
                        <p>{{recipe.description}}</p>
                    </div>
                    <img src="{{recipe.imageURL}}" />
                </div>

                {%endfor %}

    
            </div>

        </div>

       

    </div>

 

    {% endblock %}