{% extends 'base.html' %}
{% block content %}

    <div class="signup-page">
        <div class="sign-up">


            <h1>Sign Up</h1>

            <form action="/signUp" method="post">

                <div class="form-outline mb-4">
                    <input type="text" placeholder="Firstname" name="firstname" required class="input box form-control" >
                </div>

                <div class="form-outline mb-4">
                    <input type="text" placeholder="Surname" name="surname" required class="input box form-control" >
                </div>
                <div class="form-outline mb-4">
                    <input type="email" placeholder="Email" name="email" required class="input box form-control" >
                </div>

                <div class="form-outline mb-4">
                    <input type="password"  name="password" required class="input box form-control">
                </div>

                <div class="form-outline mb-4">
                    <label for="cpassword">Confirm password</label> <br>
                    <input type="password"  id="cpassword" name="cpassword"  required class="input box form-control" >
                </div>

                <input type="Submit" class="btn btn-primary btn-block mb-4" value="Sign Up">
            </form>
        </div>
    </div>

{% endblock %}