{% extends 'base.html' %}
{% block content %}

    <div class="signup-page">
        <div class="sign-up">


            <h1>Sign Up</h1>

            <form action="/signUp" method="post">

                <div class="form-outline mb-4">
                    <input type="text" placeholder="Firstname" required class="input box" class="form-control" />
                </div>

                <div class="form-outline mb-4">
                    <input type="text" placeholder="Surname" required class="input box" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                    <input type="email" placeholder="Email" required class="input box" class="form-control" />
                </div>

                <div class="form-outline mb-4">
                    <input type="password" placeholder="password" required class="input box" class="form-control" />
                </div>

                <input type="Submit" class="btn btn-primary btn-block mb-4" value="Sign Up">
            </form>
        </div>
    </div>

{% endblock %}